<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bike Shop</title>
    
</head>
<body>

    <div id="logInContainer">
        <form action="/bikes/auth/google">
            <button type="submit" id="logIn"> Sign In With Google</button>
        </form>
        
        <!-- <a href="/bikes/auth/google"> Click Here</a> -->
    </div>
    
    
        <h1>BikeList</h1>
        <h3>Your Used Bike Marketplace</h3>
    
    
    <nav>

        <div id="sellLink">
            <ul id="listItem">
            <a href="/bikes/new"> Sell Bikes</a>
            
        </ul>
        </div>


        <ul id="bikeList" style="font-size: 20px;">
            <% allBikes.forEach((el) => { %>
        
              <a href="/bikes/<%= el._id %>">
                <li> <%= el.color %> <%= el.name %> <%= el.model %> $<%= el.price %> <%= el.img %> </li>
              </a>
            <% }) %>
            
          </ul>
       
        
    </nav> 

  
</body>
</html>
